@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main-header{
  text-align: center;
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  text-decoration: underline;
  margin: 20px;
}
*{

  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}
.main-general{
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info-holder{
  height: 50vh;
  align-items: center;
  justify-content: center;
  gap: 80px;
  display: flex;
  color: white;
}
.info-div{
  display: flex;
  gap: 30px;
  background-color: darkred;
  margin: 10px;
  height: 7vh;
  width: 25vw;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color: white;

}
footer > div > a {
  color: black;
}
.og-header{
  color: white;
  font-size: 1.8vw;
}
.total-recovered-div{
  background-color: green;
}
.total-test-div{
  background-color: green;
}
.info-p{
  margin: 10px;
  font-size: 1.5vw;
  font-weight: bold;
}
.info-h{
  font-size: .9vw;
  margin: 10px;
  font-weight: normal;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
i{
  font-size: 1.5rem;
  margin: 0 0 0 10px;

}
a{
  text-decoration: none;
}
body{
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  min-height: 100vh;

}
.main-chart{
  position: fixed;
  z-index: -2;
}
.background{
  position: absolute;
  height: 100vh;
  opacity: 0.3;
  z-index: -1;

}
.place-holder{
  margin: 30px 0 30px 0;
}
.navbar{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav_elements{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 60px 0 0;
}
.nav_element{
  list-style: none;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.separator {
  background: darkblue;
  height: 50px;
  width: 100%;

}

.world-cases-general{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.world-cases-header{
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 3.5rem;
  color: white;
}
.element-container{
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
  margin: 10px 0 0 0;
  box-shadow: 10px 5px 10px darkred;
  font-size: 1.1rem;
  background: linear-gradient(15deg, #3277b1 0%, #80d0c7 100%);
}
li{
  list-style: none;
}
.world-cases-info{
  display: flex;
  color: white;
  gap: 4vw;
  font-size: 1rem;

}
.elements{
  width: 7vw;

}
p.elements{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
}
.elements > p{
  font-size: 1.25rem;
  color: white;
}
.loader{
  text-align: center;
  height: 80vh;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.load-controller{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 98vw;
}
.load-more{
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 10px;
  cursor: pointer;
  width: 200px;
  background-color: lightseagreen;
  transition: 0.3s ease-in-out;
}
.load-more:hover{
  color:lightsalmon;
  background-color: darkred;
}
.load-note{
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 10px auto;
  width: 300px;
  background-color: lightseagreen;
  transition: 0.3s ease-in-out;
}
.details{
  border-radius: 2px;
  cursor: pointer;
  border: 0 ;
  background-color: lightblue;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}
.details:hover{
  background-color: transparent;
  color: white;
}
.general-about-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;

}
.about-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
}
.about-header{
  color: white;
  font-size: 4rem;
}
.about-text{
  font-size: 1.2rem;
  color: white;
}
.general-country-container{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transform: scale(.8);
}
.general-country-header{
  font-size: 2vw;
}
.country-container{
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.data-container{
  display: flex;
  gap: 1.5vw;
  margin: 2.5rem 0 0 0;
  color: white;
}


.date-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-self: center;
}
.date{
  font-size: 3vw;
}
.year{
  font-size: 2vw;
  font-weight: normal;
}
.dateMonth{
  font-size: 2.7vw;
  font-weight: normal;
}
.second{
  display: flex;
  background-color: green;
  border-radius: 10px;
  color: white;
  gap: 20px;
  padding: 18px 35px 18px 35px;
  margin: 10px;
  font-weight: bold;
  min-height: 50px;
  font-size: 1.5vw;
  width: 15vw;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

}
.second > p:first-child{
  font-size: 1vw;
  font-weight: initial;
}
.fourth{
  display: flex;
  border-radius: 10px;
  background-color: darkred;
  color: white;
  gap: 20px;
  padding: 18px 35px 18px 35px;
  font-weight: bold;
  justify-content: space-between;
  font-size: 1.5vw;
  align-items: center;
  margin: 10px;
  width: 15vw;
  height: 5vh;


}
.fourth > p:first-child{
  font-size: 1vw;
  font-weight: initial;
}
.sixth{
  display: flex;
  border-radius: 10px;
  background-color: darkred;
  color: white;
  gap: 20px;
  padding: 18px 35px 18px 35px;
  font-weight: bold;
  font-size: 1.5vw;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 15vw;
  height: 5vh;

}
.sixth > p:first-child{
  font-size: 1vw;
  font-weight: initial;
}

.seventh{
  display: flex;
  background-color: green;
  border-radius: 10px;
  color: white;
  gap: 20px;
  padding: 18px 35px 18px 35px;
  font-weight: bold;
  font-size: 1.5vw;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 15vw;
  height: 5vh;
}
.seventh > p:first-child{
  font-size: 1vw;
  font-weight: initial;
}
.footer-data{
  display: flex;
  gap: .5vw;
  align-items: center;
  margin-top: auto;
  padding: 0.5vw 0 0 0 ;
}
.general-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7vw;
  background-color: lightskyblue;
  border-radius: 10px;
  margin: 10px;
  width: 12vw;
  height: 7vw;
  font-weight: bold;
}
.general-footer > p {
  font-size: 1vw;
  font-weight: lighter;
}
.countries{
  background-color: rgba(255, 255, 128, .7);
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
/*! Socials Sayfası */
.socials-header{
  text-align: center;
  margin-top: 100px;
  color: white;
  font-size: 3vw;
}
.socials-container{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.linkedin-header{
  font-size: 2vw;
}
.github-header{
  font-size: 2vw;

}
.github-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.github-container > a > .fab{
  font-size: 8vw;
  color: black;
}
.linkedin-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.linkedin-container > a > .fab {
  color: black;
  font-size: 8vw;
}

.instagram-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.instagram-container > a > .fab {
  color: black;
  font-size: 8vw;
}